<ul class="list-group mb-3">
  <li class="list-group-item">
    <div class="ms-2 me-auto">
      <div class="fw-bold text-body"><%= @todo_list.name %></div>
      <span class="text-body-secondary"><%= @todo_list.description %></span>
    </div>
  </li>
  <% @todo_list.todo_items.each do |item| %>
    <li id="task-<%=item.id%>" class="list-group-item list-group-item-action">
      <div class="d-flex justify-content-between">
      <div class="form-check form-switch">
        <input
          id="task-done-<%=item.id%>"
          class="form-check-input"
          <%=item.done ? ' checked ' : ' '%>
          type="checkbox"
          role="switch"
          name="done"
          onChange="toggleTodoListItem(event, <%=@todo_list.id%>, <%=item.id %>)"
          value="true">
        <label
          class="form-check-label text-body"
          for="task-done-<%=item.id%>">
          <%=item.task%>
        </label>
      </div>
      <button
        class="btn text-danger"
        style="--bs-btn-padding-y: 0rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
        onclick="deleteTodoListItem(event, <%=@todo_list.id%>, <%=item.id %>)">
        <i class="bi bi-x-lg"></i>
      </button>
      </div>
    </li>
  <% end %>
  <li class="collapse list-group-item" id="newItem">
    <form method="post" action="/todos/<%=@todo_list.id%>/items">
      <div class="d-flex justify-content-between" style="gap: 0.5em">
        <input
          required
          placeholder="Task"
          id="task"
          class="form-control"
          name="task"
          type="text">
        <button
          class="btn text-success"
          type="submit"
          data-bs-toggle="collapse"
          data-bs-target="#newItem"
          aria-expanded="false"
          aria-controls="newItem">
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>
    </form>
  </li>
  <button class="list-group-item list-group-item-action d-flex justify-content-center text-success" type="button" data-bs-toggle="collapse" data-bs-target="#newItem" aria-expanded="false" aria-controls="newItem">
  </button>
</ul>
<script
  src="/js/todo_list.js"
  type="application/javascript"
  crossorigin="anonymous">
</script>